.App {
  text-align: center;
}
label{
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
form {
  display: flex;
  justify-content: center;
}
span {
  color: red;
  font-size: 12px;
}
.error {
  border: 2px solid red;
}
